*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: beige;
}

h1{
    text-decoration: underline;
    text-align: center;
    color: red;

}

p{
    font-family: Arial, Helvetica, sans-serif;
}
